
img.lps {background-position:0px -10px; background:url(/images/sprites/267442551_267442551_1572954106_sprite_$5$aa11d6006810b193f67a626f05e72668cbd01e33fc8a51cc5860a200466292d4_version6.png) no-repeat top left;width:16px;height:16px;overflow:hidden;background-position: 0 -11px;; background-position:0px -10px;}
img.lp0 {background-position:0 -10px;}
